                <section class="TodoSection">
                    <div class="TodoSectionTitle">
                        <p class="TodoSectionTitle-text">  <%= section_title %> </p>
                        <p class="TodoSectionTitle-remainingCount"><%=todos.completed.count%>/<%= todos.count%></p>
                    </div>

                     <ul>
                       <% todos.each do |todo|%>
                            <li class="TodoItem">
                                <div class="TodoItem-container">
                                    <%= form_with(url: "/todos/#{todo.id}", method:"put") do %>
                                        <%= check_box_tag 'completed' , 'yes', todo.completed ? true : false  , onClick: "this.form.submit()" ,  class: "TodoItem-checkbox" %>
                                    <% end %>
                                    <p class='<%= todo.completed ? "TodoItem-todoStrikedText" : ""%>' > <%= todo.todo_text%></p>
                                    <%if show_due_date%>
                                        <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short)%></p>
                                    <%end%>
                                <a class="TodoItem-delete" href="javascript:void(0)">
                                    <%= form_with(url: "/todos/#{todo.id}", method:"delete") do %>
                                        <%= image_submit_tag("delete.png")   %>
                                     <% end %>
                                </a>
                                 </div>
                            </li>
                        <% end%>
                     </ul>

                </section>
